<div class="list-group-item list-group-item-action d-flex align-items-start gap-3">
    <div class="form-check me-3">
     <input class="form-check-input todo-toggle" data-id="{{ todo.id }}" type="checkbox"{% if todo.is_done %}checked{% endif %}>
    </div>
    <div class="flex-grow-1">
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <h6 class="mb-1 {% if todo.is_done %}text-decoration-line-through textmuted{% endif %}">{{ todo.name|linebreaksbr }}</h6>
                    <small class="text-muted">Created: {{ todo.created_at|date:"M d, Y H:i" }}</small>
            </div>
            <div class="btn-group ms-3">
                 <a href="{% url 'todo:edit_todo' todo.id %}" 
                    class="btn btn-sm btn-outline-secondary edit-btn" 
                    data-bs-toggle="modal" 
                    data-bs-target="#editTodoModal" 
                    data-id="{{ todo.id }}" 
                    data-name="{{ todo.name }}">
                    Edit
                    </a>
                    <a href="{% url 'todo:delete_todo' todo.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
